# Core Librariesnumpypandasscikit-learnmatplotlibseaborn# Machine Learning Modelsxgboostlightgbmoptunatabnettorchtorchvisiontorchaudio# GANs and Synthetic Datasdvctgan# Deep Learning (for CVAE, ResNet, etc.)tensorflowkeras# Model Saving/Loadingjoblib# Notebook + Dev Utilitiesjupyternotebookipythontqdm# Frontend (if using Flask as backend alternative)Flask , flask-cors